{% extends 'base.html.twig' %} {% block title %}Contact{% endblock %} {% block body %}
<div class="container m-5 text-center mx-auto">
    <p class="title mt-5 text-center display-2"> Feel free to contact us for any information you may need :</p>
    <h4 class="m-3 p-5 text-danger">You would you like some information for your trip to Vienna?
    </h4>
    <h5 class="m-3 p-2">Information and advice on all topics for your vacation in Vienna.
    </h5>
    <h5 class="m-3 p-2">Booking your accommodation in Vienna: Advice and processing of reservations for individual travelers and groups of up to nine people
    </h5>

    <img class="img-size" src="./pictures/Montage_of_Vienna.jpg" style="width:80%; height:80%">

    <ol class="mt-5">
        <li class="list-group-item">Organisation: Austria Events</li>
        <li class="list-group-item">E-mail:event_austria@mail.org</li>
        <li class="list-group-item">Phone Number: +43 1 12345678</li>
        <li class="list-group-item">Address: Somewheregasse 1010 Vienna 20</li>

    </ol>
</div>

{% endblock %}